    {%  extends 'layout.html' %}

    {% block body %}
        <div class="jumbotron jumbotron-fluid">
          <div class="container">
            <h1 class="display-4">SPTrans API</h1>
            <p class="lead">This app starts streaming SPTrans API and publish it in kafka.</p>
          </div>
        </div>
        <div class="col text-center">
            <button id="btn1" type="button" class="btn btn-primary btn-lg">Start API</button>
        </div>
        <div class="container-md">
        <div id="mapid" style="width:900px;height:500px"></div>
            <h3>Stream of data</h3>
            <div id="list">

            </div>
        </div>

        <script>
            function digaClick(){
                alert('Click !!!');
            }

            // Guardar as referencias dos botoes
            const btn1 = document.querySelector('#btn1');

            // Executar funções
            btn1.addEventListener('click', digaClick);
            btn1.onclick = function(){
                console.log(this.classList)

            }

            // Capturar o evento vindo do Flask / Stream
            var source;
            source = new EventSource('/stream',{withCredentials:false});
            console.log('source: ' + source.url);
            console.log('open: ' + source.OPEN);

            //source.onmessage = function(event) {
              //console.log("New message", event.data);
              // will log 3 times for the data stream above
            //};

            source.addEventListener("notice", function(e) {
                console.log(e.data)
            });
            source.addEventListener("update", function(e) {
                console.log(e.data)
            });
            source.addEventListener("message", function(e) {
                const newElement = document.createElement('p');
                const eventList = document.getElementById('list');

                newElement.innerHTML = e.data;
                eventList.appendChild(newElement);
            });

            // Parametros do mapa, id=mapid

            const mytoken = import('../params/params'); // token is protected


            var mymap = L.map('mapid').setView([51.505, -0.09], 13);
            L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token={accessToken}', {
                attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, <a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
                maxZoom: 18,
                id: 'mapbox/streets-v11',
                tileSize: 512,
                zoomOffset: -1,
                accessToken: mytoken.mapbox_token,
            }).addTo(mymap);

        </script>

    {% endblock %}