[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
pytest = "*"
requests-mock = "*"

[packages]
requests = "*"
pykafka = "*"
flask = "*"
flask-cors = "*"
flask-sse = "*"
gunicorn = "*"
gevent = "*"

[requires]
python_version = "3.8"
